torch==2.7.0
torchaudio==2.7.0
torchvision==0.22.0
numpy==2.3.4
pandas==2.3.3
matplotlib==3.10.7
scipy==1.16.3
scikit-learn==1.7.2
seaborn==0.13.2
optuna==4.1.0
bravado==11.1.0
bravado-core==6.1.1
torchsummary==1.5.1
jsonschema==4.23.0
jsonref==1.1.0
pyyaml==6.0.2
python-dotenv==1.2.1
